body {
    background-color:  #f9fafa;
}
#page {
   display: flex;
   flex-direction: column;
   font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: #5c5c5c;
    width: 90%;
    margin: auto;
    
 
}

#header {
     display: flex; 
     margin-bottom: 50px;
     margin-top: 10px;
}

#header-image {
    margin-left: 20%;
    margin-top: 20px;
    
  
   
}

#navigator {  
    font-size: 16pt;
    padding: 30px;
    margin-top: 20px;
}

ul {
margin: 0;

    
}
/*Create a horizontal list with spacing*/
li {
    list-style-type: none;
    float: left;
}
/*Style for menu links*/
li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color:grey;
    
}
/*Hover state for top level links*/
li:hover a {
    color: grey;
    text-decoration: underline;
}
li:link {
    color: grey;
    text-decoration: none;
}




/*Style 'show menu' label button and hide it by default*/
.show-menu {
    text-decoration: none;
    color: black;
    background: lightgrey;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    ul {
       
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }

    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }

    #header-image {
        display: none;
    }

    #header {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }


}


#content {
display: flex;
flex-flow: row wrap;
justify-content: center;
}

#article {
    max-width: 700px;
    margin-left: 50px;
}

p {
    font-size: large;
    text-align: center;
}

#picture {
    background-color:  #f9fafa;
  

}


p {
    display: inline;
    font-size: 85%;
}

#footer {
    margin-left: 9.3%;
    align-self: flex-start;
    margin-top: 20px;
}

.image-link {
    text-decoration: none;
}


@media only screen and (max-width : 760px){
    #article {
  margin-left: -5px;
    }

    #footer {
        margin-left: 0%;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .picture_figurki {
        max-width: 100%;
        max-height: 100%;
    }
  
}