#header-menu nav ul li {
    display: inline;
    font-size: 16pt;
    padding: 30px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 50px 50px 50px;
    height: 120px;
}

#header-menu {
    display: inline;
    font-size: 16pt;
    padding: 30px;
}
