body {
    background-color:  #f9fafa;
    display: flex;
    
}
#page {
   font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: #5c5c5c;
    width: 90%;
    margin: auto;
}

#header {
     display: flex; 
     margin-bottom: 50px;
     margin-top: 10px;
}

#header-image {
    margin-left: 20%;
    margin-top: 20px;
    
  
   
}

#navigator {  
    font-size: 16pt;
    padding: 30px;
    margin-top: 20px;
}

ul {
margin: 0;

    
}
/*Create a horizontal list with spacing*/
li {
    list-style-type: none;
    float: left;
}
/*Style for menu links*/
li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color:grey;
    
}
/*Hover state for top level links*/
li:hover {
    color: grey;
    text-decoration: underline;
}
li:link {
    color: grey;
    text-decoration: none;
}




/*Style 'show menu' label button and hide it by default*/
.show-menu {
    text-decoration: none;
    color: black;
    background: lightgrey;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    ul {
       
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }

    #header-image {
        display: none;
    }
    

    #header {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    }






#content {
display: flex;
flex-flow: row wrap;
justify-content: center;
}

#article {
    max-width: 700px;
    margin-left: 60px;
}

p {
    text-align: center;
    display: inline;
    font-size: 85%;
}


#footer {
    margin-left: 12%;
    align-self: flex-start;
    margin-top: 20px;
}

.image-link {
    text-decoration: none;
}

p1 {
    font-size: 1.5em;
}

p3 {
    color: rgb(111, 121, 27);
}

p4 {
    color: rgb(29, 110, 93);
}

@media screen and (max-width : 760px){
    .picture_plates {
        justify-content: center;
         max-width: 100%;
         max-height: 100%;
    }

    #footer {
           align-content: flex-start;
           margin-top: 15px;
        }
    }

