body {
    background-color: #f1fafc
}

.content {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: #5c5c5c;
    width: 70%;
    margin: auto;
    align-content: center;
    display: block;
}
#header-menu nav ul li {
    display: inline;
    font-size: 16pt;
    padding: 30px;
   
}
.gallery img {
    max-width: 60%;
    max-height: 60%;
}

.item {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 80%;
}


.page-divider {
    border-bottom: 1px solid;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 255px;
    color: #ddd6d6;
    display: block;
    max-width: 60%;
}

a:link {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: underline;
}

a:visited {
    color: grey;
    text-decoration: none;
}

a:active {
    color: black
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 50px 30px 50px;
    height: 120px;
}

#header-menu {
    display: inline;
    font-size: 16pt;
    padding: 30px;
}

#footer {
    display: flex;
    align-content: center;
}

.instalogo {
    max-width: 2em;   
}

p {
    font-size: 85%;
}


