body {
    background-color: #f1fafc
}

.content {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: #5c5c5c;
    width: 70%;
    margin: auto;
    align-content: center;
    display: block;
}

.gallery img {
    max-width: 60%;
    max-height: 60%;
}

.item {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 80%;
}

.page-divider {
    border-bottom: 1px solid;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 255px;
    color: #ddd6d6;
    display: block;
    max-width: 60%;
}

a:link {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: underline;
}

a:visited {
    color: grey;
    text-decoration: none;
}

a:active {
    color: black
}


#footer {
    display: flex;
    align-content: center;
}

.instalogo {
    max-width: 2em;   
}

p {
    font-size: 85%;
}
