body {
    background-color: #f1fafc
}

.content {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: #5c5c5c;
    width: 70%;
    margin: auto;
    align-content: center;
    display: block;
}

a:link {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: underline;
}

a:visited {
    color: grey;
    text-decoration: none;
}

a:active {
    color: black
}

.item {
    display: flex;
    justify-content: space-evenly;
}

.item img{
    max-width: 20em;
}

#footer {
    display: flex;
    align-content: center;
}

.instalogo {
    max-width: 2em;   
}

p {
    font-size: 85%;
}